* {
    margin:0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.row {

    padding-top: 93px;
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column{
    flex: 50%;
    padding: 10px;
}clear: both;


.navbar ul li {
    height: 40px;
    line-height: 40px;
}

.navbar span {
    height: 80px;
    line-height: 80px;
}

.navbar-default {
    min-height: 92px;
    height: 92px;
    background-color: #99ddff;
    border-color: #99ddff;
    color: #ffffff;
}

.navbar-footer {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.btn-default {
    background-color: #0077b3 !important;
    border-color:#0077b3 !important;
    color:#FFFFFF !important;;
    font-size:18px
}

.mainArea {
    position: absolute;
    padding-top: 93px;
}

.mainArea input {
    margin-bottom:15px;
    margin-top:5px;
    width:280px;

.errorArea {
    top:15px;
    bottom:15px;
    color:red;
    font-size: 18px;
    font-weight: bold;
}

